services:
	-
		class: DependencyAnalyzer\DependencyDumper\FileDependencyResolver\DependencyResolveVisitor
	-
		class: DependencyAnalyzer\DependencyDumper\FileDependencyResolver\NodeDependencyResolver
