services:
	-
		class: DependencyAnalyzer\DependencyDumper\CollectDependenciesVisitor
	-
		class: DependencyAnalyzer\DependencyDumper\DependencyResolver
	-
		class: DependencyAnalyzer\DependencyGraph\DependencyGraphBuilder
	-
		class: DependencyAnalyzer\DependencyGraph\ExtraPhpDocTagResolver
